$commonForegroundColor: rgb(114, 82, 255)
$commonGradient: linear-gradient(45deg, rgb(82, 113, 255), rgb(114, 82, 255), rgb(220, 82, 255))


@mixin headerButton()
    align-items: center
    background-color: transparent
    border: none
    border-radius: 0.25rem
    color: $commonForegroundColor
    cursor: pointer
    display: flex
    font-family: "JetBrainsMono"
    font-size: 16px
    font-weight: bold
    gap: 5px
    padding: 10px 15px
    text-align: center
    text-decoration: none

    &:hover
        backdrop-filter: blur(10px)
        background: rgba(255, 255, 255, .1)
        color: white


@mixin  toolsSkillsSubtitle()
    display: inline-block
    font-size: 1.5rem
    line-height: 2rem
    



.highlighted
    background: $commonGradient text
    font-weight: bold !important
    -webkit-text-fill-color: transparent



.header-section
    backdrop-filter: blur(12px) 
    color: $commonForegroundColor
    z-index: 100

    #header-name
        line-height: 1.5rem
        margin: 0

        @media screen and (min-width: 768px)
            line-height: 2.5rem

    .menu-button
        display: none

    .menu-button.active
        display: inherit

        @media screen and (min-width: 768px)
            display: none

    a.link
        @include headerButton()
        
        margin-right: 16px

        span
            margin: 0 0 0 0.5rem

    .language-select-button
        @include headerButton()
        box-sizing: border-box
        display: flex
        flex-direction: row

        span
            margin: 0 0.5rem

    svg
        box-sizing: border-box
        display: block
        fill: $commonForegroundColor
        stroke: $commonForegroundColor
        vertical-align: middle

    .language-select-items
        background-color: rgb(255, 255, 255, .1)
        border-radius: 0.25rem
        display: flex
        flex-direction: column
        margin-top: 1.5rem
        position: absolute
        right: 0px
        width: 8rem

        .language-select-item
            @include  headerButton()

    
    .mobile-menu-container.active
        backdrop-filter: blur(12px)
        border-radius: .25rem
        
        div.language-select-button-mobile
            align-items: center
            background-color: transparent
            border: none
            box-sizing: border-box
            display: flex
            flex-direction: row
            outline: none
            padding: 0

            span
                color: white !important
                display: flex
                font-family: "JetBrainsMono"
                font-size: 16px
                font-weight: bold
                margin: 0 .5rem

        a
            align-items: center
            color: white !important
            display: flex
            text-decoration: none

            span
                font-weight: bold
                margin: 0 .5rem

        svg
            fill: white !important
            stroke: white !important
    


.hello-section
    background: linear-gradient(180deg, rgb(82, 113, 255, 0.2), transparent)

    .title
        font-size: 0px

        span
            font-weight: normal
            font-size: clamp(16px, 4vw, 55px)
            line-height: 1.4em

        .title-cursor:
            z-index: 1


    #show-more-link
        background-color: rgba(255, 255, 255, .1)
        border-radius: 2rem
        color: white
        display: block
        font-size: 1.125rem
        margin: 4rem auto 0 auto
        padding: 1rem 1.5rem
        text-decoration: none
        transition-duration: .3s
        transition-property: background-color transform

        &:hover
            background-color: rgba(255, 255, 255, .25)
            transform: translateY(-15%)   



.why-me-section
    .title
        font-size: 0px
        margin: 3rem 0

        span
            font-weight: normal
            font-size: clamp(18px, 4vw, 30px)
            line-height: 1.4em

    .about-container
        div.profile-image
            aspect-ratio: 1 / 1
            background: url(/images/profile-photo.jpg) 50% 50% no-repeat
            background-size: cover
            border-radius: 50%
            max-width: 450px
            width: 100%

        .description-container
            max-width: 600px

            .description-text
                color: rgba(255, 255, 255, .8)
                display: block
                font-size: clamp(14px, 4vw, 18px)
                line-height: 2rem
                margin-block: 0

            @media screen and (min-width: 768px)
                margin: 0 0 3rem 0

                
            h2
                font-size: clamp(14px, 4vw, 20px)
                font-weight: normal
                margin: 0

                span:first-of-type
                    display: inline-block
                    margin-bottom: .5rem

        



.education-experience-section
    .title
        font-size: clamp(18px, 4vw, 30px)
        line-height: 1.4em
        

    .education-title, .experience-title
        font-size: 1.8rem
        font-weight: normal

    .education-title
        margin: 0 0 1.25rem 0

    .experience-title
        margin: calc(2.5rem + .4rem) 0 1.25rem 0     

        @media screen and (min-width: 768px)
            margin: 0 0 1.25rem 0

    .education-list, .experience-list
        display: grid
        gap: 1.25rem 0
        margin-bottom: auto
        padding: 0

        .list-item
            background-color: #aaaaaa1a
            border-radius: 5px
            padding: 1rem
            list-style-type: none
            transition: .2s

            span.date-container
                align-items: center
                display: flex
                justify-content: space-between
                margin: 0 0 .5rem 0

            span.date
                display: inline-block
                font-size: .875rem
                font-weight: bold
                line-height: 1.25rem

            .highlight
                background: $commonGradient
                border-radius: calc(.875rem / 3)
                display: inline-block
                height: calc(.875rem / 1.5)
                margin: 0 0 0 auto
                width: calc(.875rem / 1.5)

            h4.header
                font-size: 1.125rem
                font-weight: normal
                line-height: 1.75rem
                margin: 0 0 .5rem 0

            p.additional
                color: #fffc
                font-size: 1rem
                line-height: 1.5rem
                margin: 0

        .list-item.red
            position: relative

        .list-item.red::before
            content: ""
            position: absolute
            inset: 0
            border-radius: 5px
            padding: 1px
            background: linear-gradient(45deg, rgba(82, 113, 255, .25), rgba(114, 82, 255, .25), rgba(220, 82, 255, .25))
            mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0)
            mask-composite: exclude

        .list-item.clickable
            cursor: pointer

        .list-item.clickable:hover
            background-color: #aaaaaa3a



.tools-skills-section
    .title-container
        margin: 0 0 4rem 0
        
        .title
            display: inline
            font-size: 2.25rem
            line-height: 2.5rem   

    .tools-subtitle
        @include toolsSkillsSubtitle
        margin: 0 0 2rem 0

    .skills-subtitle
        @include toolsSkillsSubtitle
        margin: 0

    .tools-item
        align-items: center
        background-color: rgba(31, 41, 55, .5)
        border-radius: .5rem
        display: flex
        flex-direction: column
        padding: 1.5rem

        .tools-item-icon
            aspect-ratio: 1 / 1
            background-size: cover
            height: 2.5rem
            line-height: 1
            margin-bottom: 1.25rem

        .tools-item-label
            display: inline-block
            text-align: center
            width: 100%


    .skills-tabs-buttons
        button.skills-tabs-button
            background: rgba(255, 255, 255, 0.2)
            border: none
            border-radius: 3.4rem
            box-sizing: border-box
            color: rgba(255, 255, 255, 0.2)
            cursor: pointer
            outline: none
            transition: .3s

            h3
                font-family: 'JetBrainsMono'
                font-size: 1rem
                margin: 0
                line-height: 1.5
                padding: .5rem 1rem
                transition: 0.3s

        button.skills-tabs-button:hover, button.skills-tabs-button.active
            background: $commonGradient !important

            @media screen and (min-width: 1024px)
                transform: scale(1.05)

            h3
                color: white
                -webkit-text-fill-color: white


    .skills-tabs-items
        .skills-tabs-item
            background-color: rgb(31, 41, 55, .5)
            border-radius: .5rem
            display: flex
            flex-direction: column
            padding: 1.25rem

            .label-container
                align-items: center
                display: flex
                flex-direction: row
                margin-bottom: .75rem

                div.icon
                    aspect-ratio: 1 / 1
                    box-sizing: border-box
                    height: 1.5rem
                    margin-right: .75rem
                    background-size: cover
                    margin: .5rem 1em .5rem 0

                span.label
                    font-size: 1.125rem
                    line-height: 1.75rem

            .progress-bar-outer
                background-color: rgb(55, 65, 81)
                border-radius: calc(.75rem / 2)
                height: .75rem
                margin-bottom: .25rem

                .progress-bar-inner
                    background: $commonGradient
                    border-radius: calc(.75rem / 2)
                    box-shadow: 0 4px 15px #7252ff
                    height: 100%
                    transition-duration: .5s
                    transition-property: width

            .progress-text-container
                display: flex
                flex-direction: row-reverse

                .progress-text
                    font-size: .875rem
                    line-height: 1.25rem



.footer-section
    #footer-rights
        color: rgb(156, 163, 175)
        text-align: center

    .social-links
        display: flex
        flex-direction: row
        gap: 1.5rem
        height: 1.875rem
        justify-content: center
        margin: 0 auto 1.5rem auto

        .social-link
            display: grid
            grid-template-areas: A
            transition: 5s

            .social-icon-background
                background: white
                grid-area: A
                height: 1.875rem
                left: 0
                top: 0
                width: 1.875rem

            svg
                fill: #0a0a0a
                grid-area: A
                height: 1.875rem
                left: 0
                top: 0
                width: 1.875rem

        .social-link:hover
            .social-icon-background
                background: $commonGradient