@font-face {
  font-family: "Intro-Light";
  src: url("/Resume/resources/fonts/Intro-Light.otf");
}
@font-face {
  font-family: "Intro-Regular";
  src: url("/Resume/resources/fonts/Intro-Regular.otf");
}
@font-face {
  font-family: "Intro-Bold";
  src: url("/Resume/resources/fonts/Intro-Bold.otf");
}
@font-face {
  font-family: "Cascadia-Mono-Regular";
  src: url("/Resume/resources/fonts/Cascadia-Mono.ttf");
}
html, body {
  margin: 0;
}

p {
  color: #646464;
  font-family: "Intro-Light";
  font-size: max(0.3em, min(1.1em, 4vw));
  line-height: 1.7;
  margin: 0;
}

.header-footer-logo {
  cursor: pointer;
  user-select: none;
  width: 45px;
}

.header-items-line {
  background-color: #aaaaaa;
  height: 2px;
  max-width: 200px;
  width: 50%;
}

.link-icon-svg {
  fill: #aaaaaa;
  height: 28px;
  margin: 0 15px;
  width: 28px;
  transition: fill 0.5s;
}

.link-icon-svg:hover {
  fill: #a333ff;
}

.header-text {
  display: block;
  font-family: "Intro-Bold";
  font-size: max(0.8em, min(3.3em, 4vw));
  text-space: 1.3;
  margin: 0;
}
.header-text > span {
  display: inline-block;
  margin-bottom: 15px;
}
.header-text .highlighted {
  color: #a333ff;
}

.main-image {
  min-width: 400px;
  width: 100%;
}

.header-text-small {
  font-size: max(0.55em, min(2.1em, 4vw));
}

.subheader-text {
  font-family: "Intro-Bold";
  font-size: max(0.5em, min(2.2em, 4vw));
  margin: 0;
}

.my-skills-text, .my-projects-text {
  margin: 60px 0;
  width: 60%;
}

.my-skills-item {
  display: flex;
  margin: 20px 0 20px 0;
}
.my-skills-item > svg {
  fill: #a333ff;
  height: 18px;
  margin: auto 0;
  width: 18px;
  transform: translateY(-1px);
}
.my-skills-item > span {
  font-family: "Intro-Regular";
  font-size: 16pt;
  margin-left: 10px;
}

.my-projects-item {
  cursor: pointer;
  margin: 0 0 60px 0;
  width: 46%;
}
.my-projects-item > img {
  border-radius: 8px;
  transition: 0.3s;
  width: 100%;
}
.my-projects-item > h3 {
  font-family: "Intro-Bold";
  font-size: max(0.5em, min(2.2em, 4vw));
  transition: 0.5s;
  margin: 30px 0 0 0;
}
.my-projects-item > p {
  font-family: "Intro-Light";
  font-size: max(0.3em, min(1.1em, 4vw));
  transition: 0.5s;
  margin: 15px 0;
}

.my-projects-item:hover > img {
  transform: translateY(-10px);
}
.my-projects-item:hover > h3 {
  color: #737373;
}
.my-projects-item:hover > p {
  color: #979797;
}

.work-together-text {
  margin: 60px 0;
  width: 40%;
}

.phone-email-link {
  color: black;
  width: fit-content;
  font-family: "Intro-Regular";
  font-size: max(0.3em, min(1.1em, 4vw));
  margin-bottom: 12px;
  text-decoration: none;
  transition: 0.5s;
}

.phone-email-link:hover {
  color: #aaaaaa;
}

.footer-links-container > a {
  color: black;
  font-family: "Intro-Regular";
  font-size: 12pt;
  margin: auto 0 auto 20px;
  text-decoration: none;
  transition: 0.5s;
}
.footer-links-container > a:hover {
  color: #aaaaaa;
}

.project-description-text {
  margin: 60px 0;
}

.project-info-container .header {
  font-family: "Intro-Bold";
  font-size: 14pt;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.project-info-container .text {
  font-family: "Intro-Light";
  font-size: 14pt;
  margin-bottom: 10px;
}
.project-info-container .link {
  color: #0f93ff;
  font-family: "Intro-Regular";
  font-size: 14pt;
  margin-bottom: 10px;
  text-decoration: none;
  transition: 0.5s;
}
.project-info-container .link:hover {
  color: #8fccff;
}

.project-main-image {
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 2%;
  width: 49%;
}

.project-goals-text {
  margin: 60px 0 0 0;
}

.project-design-image {
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.project-design-text {
  margin: 60px 0 0 0;
}
.project-design-text .link {
  color: #0f93ff;
  font-family: "Intro-Regular";
  text-decoration: none;
  transition: 0.5s;
}
.project-design-text .link:hover {
  color: #8fccff;
}

/*# sourceMappingURL=content.css.map */
