@font-face {
  font-family: "Intro-Light";
  src: url("/resources/fonts/Intro-Light.otf");
}
@font-face {
  font-family: "Intro-Regular";
  src: url("/resources/fonts/Intro-Regular.otf");
}
@font-face {
  font-family: "Intro-Bold";
  src: url("/resources/fonts/Intro-Bold.otf");
}
@font-face {
  font-family: "Cascadia-Mono-Regular";
  src: url("/resources/fonts/Cascadia-Mono.ttf");
}
html, body {
  margin: 0;
}

p {
  color: rgb(100, 100, 100);
  font-family: "Intro-Light";
  font-size: max(0.3em, min(1.1em, 4vw));
  line-height: 1.7;
  margin: 0;
}

header {
  margin: 70px auto 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
}

.header-view-container {
  padding: 30px 0 0 0;
  margin: 100px 0;
}

.header-items-container {
  display: flex;
  align-items: center;
}

.header-items-svg-container {
  display: flex;
  margin-left: 20px;
}

.header-text-container {
  margin: 50px 0 0 50px;
}

.main-image-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
}

.about-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.about-section > div {
  min-width: 150px;
  width: 45%;
}

.my-skills-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  padding-bottom: 0;
}

.my-skills-container {
  display: flex;
  flex-direction: column;
  margin: 100px 0 200px 0;
}
.my-skills-container > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-skills-items-container {
  display: flex;
  flex-direction: row;
}
.my-skills-items-container > div {
  display: flex;
  flex-direction: column;
}

.my-projects-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  padding-top: 0;
}

.my-projects-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 200px 0;
}

.my-projects-items-container {
  display: flex;
  justify-content: space-between;
}

.background-bottom-block {
  background-color: rgb(248, 248, 248);
}

.work-together-section {
  margin: 0 auto 150px auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
}

footer {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.work-together-container {
  margin: 150px 0;
}

.footer-items-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.project-info-section {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
}

.project-header-view-container {
  padding: 30px 0 0 0;
  margin: 100px 0 20px 0;
  max-width: 800px;
}

.project-info-container {
  display: flex;
  flex-direction: row;
}
.project-info-container > div {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 30%;
}

.project-main-images-section.forecast {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-main-images-section.moex {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.project-goals-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
}

.project-goals-container {
  margin: 100px 0;
  max-width: 800px;
}

.gallery-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
}

.gallery-container {
  margin: 0 0 100px 0;
}

.pinterest-board {
  margin-top: 60px;
}

.project-design-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
}

.project-design-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 100px 0;
  justify-content: space-between;
}
.project-design-container > div {
  width: 45%;
}

.phone-email-block {
  display: flex;
  flex-direction: column;
}

.screenshots-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
}
.screenshots-section > .images-container {
  background-color: #DDD;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  margin-bottom: 60px;
  padding: 50px;
}
.screenshots-section > .images-container.university {
  grid-template-rows: 200px 200px 2760px;
}
.screenshots-section > .images-container.candle-shop {
  grid-template-rows: 200px 200px 1783px;
}

/*# sourceMappingURL=layout.css.map */
