@font-face {
  font-family: "Intro-Light";
  src: url("/Resume/resources/fonts/Intro-Light.otf");
}
@font-face {
  font-family: "Intro-Regular";
  src: url("/Resume/resources/fonts/Intro-Regular.otf");
}
@font-face {
  font-family: "Intro-Bold";
  src: url("/Resume/resources/fonts/Intro-Bold.otf");
}
html, body {
  margin: 0;
}

header {
  margin: 70px auto 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  width: 80%;
}

.header-view-container {
  padding: 30px 0 0 0;
  margin: 100px 0;
}

.header-items-container {
  display: flex;
  align-items: center;
}

.header-items-svg-container {
  display: flex;
  margin-left: 20px;
}

.header-text-container {
  margin: 50px 0 0 50px;
}

.main-image-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  width: 80%;
}

.about-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.about-section > div {
  min-width: 150px;
  width: 45%;
}

.my-skills-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  width: 80%;
  padding-bottom: 0;
}

.my-skills-container {
  display: flex;
  flex-direction: column;
  margin: 100px 0 200px 0;
}
.my-skills-container > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-skills-items-container {
  display: flex;
  flex-direction: row;
}
.my-skills-items-container > div {
  display: flex;
  flex-direction: column;
}

.my-projects-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  width: 80%;
  padding-top: 0;
}

.my-projects-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 200px 0;
}

.my-projects-items-container {
  display: flex;
  justify-content: space-between;
}

.background-bottom-block {
  background-color: #f8f8f8;
}

.work-together-section {
  margin: 0 auto 150px auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  width: 80%;
}

footer {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.work-together-container {
  margin: 150px 0;
}

.footer-items-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.project-info-section {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
}

.project-header-view-container {
  padding: 30px 0 0 0;
  margin: 100px 0 20px 0;
  max-width: 800px;
}

.project-info-container {
  display: flex;
  flex-direction: row;
}
.project-info-container > div {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 30%;
}

.project-main-images-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-goals-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  width: 80%;
}

.project-goals-container {
  margin: 100px 0;
  max-width: 800px;
}

.project-design-section {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 20px;
  width: 80%;
}

.project-design-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 100px 0;
  justify-content: space-between;
}
.project-design-container > div {
  width: 45%;
}

.phone-email-block {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=layout.css.map */
